<div id="profile_container" class="row" *ngIf="currentUser; else loggedOut">
  <div id="user_container">
    <div class="user-container ">
      <div class="col-8">
        <h3>USER</h3>
        <p>{{ currentUser.username }}</p>
      </div>
      <div class="col-4">
        <button class="profile-button col-6">Modifier</button>
      </div>
    </div>
  </div>
  <div class="mail-container">
    <div class="col-8">
      <h3>Email:</h3>
      <p>{{ currentUser.email }}</p>
    </div>

  </div>
  <div class="role-container">
    <div class="col-8">
      <h3>Roles:</h3>
      <p *ngFor="let role of currentUser.roles"> {{ role }}</p>
    </div>
    <div class="col-4">
      <button class="profile-button col-6">Choisir</button>
    </div>
  </div>

</div>
<ng-template class="small-container" #loggedOut>
  Please login.
</ng-template>