<div classe="container" *ngIf="currentUser; else loggedOut">
  <div class="row p-5">
    <div class="col-md-12">
    <h1  class="profil-title"> Profil</h1>
  
      <!-- <h4>User :</h4>
      <p>{{ currentUser.username }}</p> -->
   
      <label for="lastname"> Nom  </label>
      <input id="lastname" [(ngModel)]="currentUser.lastname" placeholder="lastname" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
      
      <label for="firstname"> Prénom  </label>
      <input id="firstname" [(ngModel)]="currentUser.firstname " placeholder="firstname" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
     
      <label for="email"> Email </label>
      <input id="email" [(ngModel)]="currentUser.email" placeholder="email" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
      <label for="role"> Nom  </label>
      <input id="role" [(ngModel)]="currentUser.roles " placeholder="role" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled="disabled"/>
      <button [routerLink]="['/update-user']" class="btn btn-outline-success btn-sm m-1">Modifier</button>
    </div>
  </div>
</div>
<ng-template class="small-container" #loggedOut>
  Please login.
</ng-template>