<div *ngIf="!isLoggedIn">
<app-connect-frame></app-connect-frame>
</div>
  <div *ngIf="isLoggedIn" >
    
    <div class="validation-buttons ">
      
      <a [routerLink]="['/book-search']" ><button type="button" class="validation-btn col-12">recherche
      </button></a>
   
      <a [routerLink]="['/main-board']" > <button type="button" class="validation-btn col-12">profil
      </button></a>
     
      <a [routerLink]="['/books']"> <button type="button" class="validation-btn col-12">liste des livres
      </button></a>
    </div>
  </div>
  <!-- 
          <a [routerLink]="['/home']"></a>
 -->