<div class="container">
  <div class="row">
    <div *ngIf="!isLoggedIn">
      <h1>Veuillez vous connecter</h1>
      <div class="col-md-4 m-auto p-5">
          <p><button class="login-button" [routerLink]="['/login']" id="login_link">Login</button></p>
            
          <p><button  class="register-button"  [routerLink]="['/register']" id="register_link">Register</button></p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div *ngIf="isLoggedIn">
      <nav class="d-flex">
          <a [routerLink]="['/book-search']" id="bookSearch_link" class="text-reset p-1">Rechercher un livre</a>
          <span class="p-1"> / </span>
          <a [routerLink]="['/main-board']" id="board_link" class="text-reset p-1">Page profil</a>
          <span class="p-1"> / </span>
          <a [routerLink]="['/books']" id="bookList_link" class="text-reset p-1">Liste des livres </a>
      </nav>
    </div>
  <!-- <div class="col-md-2 p-5"> <a href class="nav-link btn btn-danger" (click)="logout()" type="button">Deconnexion</a></div>-->
  </div> 
</div>