<div class="container justify-content-center">
  <div class="row">
    <div *ngIf="book" class="col-md-12">
    
        <h1 class="text-center">Details du livre </h1>
        <div *ngIf="message" class="alert alert-success">{{message}}</div>
        <div *ngIf="messageError" class="alert alert-danger">{{message}}</div>
        <span class="input-group-text" id="inputGroup-sizing-default">id: {{book.id}}</span>
        
          <label for="book-title"> Book Title: </label>
          <input id="book-title" [(ngModel)]=" book.title" placeholder="Book title" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
        
          <label for="book-author"> Book Author: </label>
          <input id="book-author" [(ngModel)]=" book.author" placeholder="Book author" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
        
          <label for="total_items"> total items: </label>
          <input id="total_items" [(ngModel)]=" book.totalItems" placeholder="total items" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
        
          <label for="book-author">Book Author: </label>
          <input id="book-author" [(ngModel)]="book.author" placeholder="Book author" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
        
          <label for="book-items">Book Items: </label>
          <input id="book-items" [(ngModel)]="book.totalItems" placeholder="Book items" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"/>
        
          <button type="button" (click)="goBack()"  class="btn btn-info btn-sm m-1">go back </button>
          <button type="button" (click)="save()" class="btn btn-outline-dark btn-sm m-1"> save</button>  
          <!-- <a (click)="enregistrerEmprunt()" class="btn btn-outline-success btn-sm m-1" type="button"> Emprunter </a>   -->
    </div>
  </div>
</div>