.detail-pannel {
  justify-content:center;
}

  .card-title{
    text-align: center;
    font-size: 1.5em;
     }

  .list-group-item{
    font-size: 1em;
  }

  .item-title{
    background-color: var(--color-primary-light);
  }

  @media(min-width:992px){

    .card-title{
      
      font-size: 2cqb;
       }
  
    .list-group-item{
      font-size: 1.5em;
    }
    .btn{
      font-size: 2em;
    }
  }