.detail-pannel {
  justify-content:center;
}

  .card-title{
    text-align: center;
    font-size: 1.5em;
     }

  .list-group-item{
    font-size: 1em;
  }

  .item-title{
    background-color: var(--color-primary-light);
  }

  @media(min-width:992px){
    .detail-pannel {
            /* height: 50vh;
      width: 70vw; */
    }
    
    .card-title{
      
      font-size: 1em;
       }
  
    .list-group-item{
      font-size: 0.8em;
    }
    .btn{
      font-size: 1em;
    }
  }