<div class="loan-title">
  <p>Vos emprunts</p>
</div>
<div *ngIf="listLoans" class="content-panel">
 
    <table class="loan-list-table">
      <thead class="theader">
        <tr>
          <th class="loan-list-title ">Titre</th>
          <th class="loan-list-loan">Emprunt</th>
          <th class="loan-list-return">Retour</th>
        </tr>
      </thead>
      <tbody class="loan-list-container">
        <tr>

        </tr>
        <tr *ngFor="let loan of listLoans" class="test">
          <td class="loan-list-title">{{loan.title }}</td>
          <td class="loan-list-loan">{{ loan.borrowedAt }}</td>
          <td class="loan-list-return">{{ loan.returnDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div *ngIf="!listLoans">
  <h3 class="text-center">Pas d'Emprunt existant</h3>
</div>

<!-- <table>
  <thead>
      <tr>
          <th>Book Title</th>
          <th>Borrow Date</th>
          <th>Return Date</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let loan of listLoans">
          
          <td>{{ loan.borrowed_at }}</td>
          <td>{{ loan.return_date }}</td>
      </tr>
  </tbody>
</table> -->