
<div *ngIf="listLoans" class="content-panel">
    <div class="col-md-12">
        <table class="booklist table">
            <thead class="thead-light">
              <tr>
                <th colspan="4" class="bookList-title" scope="col">Liste des Livres</th>
              </tr>
            </thead>
            <tbody class="bookList-container" >
                <tr>  
                    <th class="bookList-details">Title du livre</th>
                    <th class="bookList-details">Date d'emprunt</th>
                    <th class="bookList-details">Date de retour</th>
                </tr>
              <tr  *ngFor="let loan of listLoans">
                <td class="bookList-details"><a routerLink="/book-detail/{{loan.book_id}}">{{loan.title }}</a></td>
                <td class="bookList-details">{{ loan.borrowedAt }}</td>
                <td class="bookList-details">{{ loan.returnDate }}</td>
              </tr>
            </tbody>
          </table>
        </div>
</div>
<div *ngIf="!listLoans">
    <h3 class="text-center">Pas d'Emprunt existant</h3>
</div>

<!-- <table>
  <thead>
      <tr>
          <th>Book Title</th>
          <th>Borrow Date</th>
          <th>Return Date</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let loan of listLoans">
          
          <td>{{ loan.borrowed_at }}</td>
          <td>{{ loan.return_date }}</td>
      </tr>
  </tbody>
</table> -->