<div class="to-center">
    <div *ngIf="!isLoggedIn">
        <app-connect-frame></app-connect-frame>
    </div>
</div>

<div *ngIf="isLoggedIn" >
    <div class="input-zone row">
        <form th:action="@{/}" class="search-form col-12">
            <input type="text" class="search-input" placeholder="Recherche rapide"
                #searchBox id="search-box" (input)="search(searchBox.value)" th:value="${term}" name="term">

                <div class="btn-container">
            <button class="go-btn " type="submit" value="Search">GO</button></div> 
        </form>
    </div>
        <div class="down-pannel">
<app-book-search-results></app-book-search-results>
        
    </div>
</div>

