.to-center {
  margin-top: 13.4vh;

}

.input-zone {
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 13.4vh;
  left: 22vw;
  height: 10vh;
  width: 80vw;

}

.search-form {
  background-color: aquamarine;
  margin-left: 0;
  display: flex;
  flex-direction: row;

}

.search-input {
  width: 80%;
  height: 2em;
  border-radius: 30px;
}

::placeholder {
  padding: 1rem;
  font-size: 0.8em;
}

.btn-container {
  width: 20%;

  background-color: brown;
}

.go-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--color-secondary-dark);
  box-shadow: var(--shadowBoxin-2);
  color: white;
  font-size: 1rem;
  border: none;
}

.go-btn:hover {
  background-color: var(--color-secondary);

  color: black;
  font-weight: 200;
}

.go-btn:active {

  box-shadow: var(--shadowBoxin-2);
  transform: translateY(2px);
}


.down-pannel{
  background-color: violet;
  height: 75vh;
}
/* list result search*/
li {
  list-style-type: none;
}

.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}


@media(min-width:768px) {
  .to-center {
    margin-top: 10vh;
  }
  .input-zone {

    top: 17vh;
    left: 10vw;
    height: 10vh;
    width: 80vw;
  
  }
  .down-pannel{

    height: 70vh;
  }

}

@media(min-width:992px) {
  .to-center {
    margin-top: 5vh;
  }
  .input-zone {

    top: 27vh;
    left: 10vw;
    height: 10vh;
    width: 80vw;
  
  }
  .down-pannel{
    position: relative;
    top: 3vw;
    height:60vh;
  }
}