<div class="to-center">
    <div *ngIf="!isLoggedIn">
        <app-connect-frame></app-connect-frame>
    </div>
</div>

<div *ngIf="isLoggedIn">
    <div class="input-zone row">
        <form th:action="@{/}" class="search-form col-12">
            <input type="text" class="search-input" placeholder="Recherche rapide" #searchBox id="search-box"
                (input)="search(searchBox.value)">

            <div class="btn-container">
                <button class="go-btn " type="submit" value="Search">GO</button>
            </div>
        </form>
    </div>
    <div class="down-pannel">
        <div class="down-pannel-1">
            <h2>Résultat de la recherche</h2>
        </div>
        <div class="down-pannel-2">
            <ul class="search-result">
                <li *ngFor="let book of books$ |async">
                    <a routerLink="/book-detail/{{book.id}}">
                        {{book.title}} - {{book.author}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>