
  .list-group-item{
    
    height: 5rem;
    display: flex;
    justify-content: space-around;

    
  }



  .list-group-item input{

    height: 3rem;
    border-radius: 30px;

  }

  .go-btn {
    align-self: center;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size: 1rem;
}

.go-btn:hover {
    background-color: var(--color-secondary);
    
    color: black;
    font-weight: 200;
}

.go-btn:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}