<div class="upper-pannel ">
    <app-advanced-search></app-advanced-search>
    </div>
    <div class="main-pannel row ">
        
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Genre</th>
                <th scope="col">Total Exemplaires</th>
                <th scope="col">Exemplaires Restants</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Terreur</th>
                <td>Simmons Dan</td>
                <td>Roman</td>
                <td>10</td>
                <td>6</td>
              </tr>
              <tr>
                <th scope="row">Dune</th>
                <td>Herbert Franck</td>
                <td>Science-Fiction</td>
                <td>10</td>
                <td>7</td>
              </tr>
              <tr>
                <th scope="row">Le Grand Passage</th>
                <td>Mc Carthy Cormack</td>
                <td>Roman</td>
                <td>10</td>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Le Maître Du Haut Chateau</th>
                <td>K.Dick Philip</td>
                <td>Science-Fiction</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <th scope="row">La Horde Du Contrevent</th>
                <td>Damasio Alain</td>
                <td>Roman</td>
                <td>10</td>
                <td>2</td>
              </tr>

            </tbody>
          </table>
        </div>