.upper-pannel {
  
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: black 2px solid;
    border-radius: 30px;
}

.main-pannel {
  
    height: 75%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    border-radius: 30px;
}



