
.list-group-item{   
    height: 5rem;
    display: flex;
    justify-content: space-around;
  }
.title-container{

width: 4rem;

}
.input-container{
  display: flex;
  justify-content: center;
}

.input-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  height: 95%;  
  }
.search-input{
  width: 100%;
   
  height: 5rem;
  border-radius: 30px;
}

  ::placeholder{
    padding: 1rem;
  }

  .go-btn {
    align-self: center;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size: 1rem;
}

.go-btn:hover {
    background-color: var(--color-secondary);
    
    color: black;
    font-weight: 200;
}

.go-btn:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}

/* list result search*/
li {
  list-style-type: none;
}
.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}