<div class="container">
  <div class="row">
    <div class="col-md-4 m-auto">
      <button type="button" (click)="goBack()"  class="btn btn-outline-info btn-sm m-1 col-lg-4 col-md-3 col-sm-3">RETOUR </button>
      <h1 class="h1 text-center">Login</h1>
      <div id="login_page">
        <form  
        *ngIf="!isLoggedIn" 
        name="form" 
        (ngSubmit)="f.form.valid && onSubmit()" 
        #f="ngForm"
        novalidate>

            <div class="form-group p-3">
              <label class="log-label" for="username">Nom d'utilisateur</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                #user="ngModel" [ngClass]="{ 'is-invalid': f.submitted && user.errors }" />
              <div *ngIf="user.errors && f.submitted" class="invalid-feedback">Champ Obligatoire</div>
            </div>
            <div class="form-group p-3">
              <label class="log-label" for="password">Mot de passe</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                minlength="8" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
              <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                <div *ngIf="password.errors['required']">Champ Obligatoire</div>
              </div>
              <div class="rpl"> <a [routerLink]="['/under-construction']" id="resetPasswordLink">Mot de passe oublié</a></div>
            </div>
          
          <div class="validation-buttons col-12">
            <button type="submit" class="validation-btn col-lg-4 col-md-3 col-sm-3 ">Valider</button>
            <button type="button" (click)="onReset(f)" class="validation-btn col-lg-4 col-md-3 col-sm-3">Annuler</button>
          </div>
          <div class="subscribe-text">
            <p>Vous n'êtes pas encore inscrit ? :
              <a [routerLink]="['/register']" id="register_link">Inscription</a>
            </p>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
