.container{
    margin-left: auto;
    margin-right: auto;
}
.form-group {
     margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.log-label {
    align-self: center;
    font-size: 1.5rem;
}

.form-control {
    height: 3rem;
    align-self: center;
    box-shadow: var(--shadowBoxin-2);
    border-radius: 3vh;
}


.rpl {
    display: flex;
    justify-content: center;
}
.reset-password-link{
    font-size: 1em;
}

.invalid-feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subscribe-text{
    margin-top: 2rem;
}

.subscribe-text p, a{
    font-size: 0.8rem;
} 


.validation-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.validation-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 3vh;
    height: 3rem;
    background-color: var(--color-secondary-dark)
}

.validation-btn:hover {
    background: var(--color-button);
    border: none;
    color: black;
    font-weight: 200;
}

.validation-btn:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}


@media(min-width:768px){
    .log-label {
        align-self: center;
        font-size: 2.5rem;
    }
    .form-control {
        height: 4rem;
    }
    .invalid-feedback {
    font-size: 1.5rem;
    }
    .reset-password-link{
        font-size: 1.5em;
    }

    .subscribe-text p, a{
        font-size: 1rem;
    } 
    .validation-btn {

        border-radius: 3vh;
        height: 4rem;
        font-size: 1.5em;

    }
}
@media(min-width:992px){}