#logForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.logLabel{
    align-self: center;
    font-size: x-large;
}

.form-control{
    height: 50px;
    font-size: x-large;
    box-shadow: var(--shadowBoxin-2);
    border-radius: 20px;
}

#logValid{
    display: flex;
    justify-content: space-around;
   
}
.form-group-buttons button{
    border: none !important;
    background-color: var(--color-secondary-dark) !important;
    box-shadow: var(--shadowBoxin-2);
}

/*animation on hover, focus don't work */
.logBtn :hover
.logBtn :focus {
    background-color:red !important;
    border: var(--border-secondary-dark) !important;
 }


#rpl{
display: flex;
justify-content: right;
}