<div class="input-zone">
  <form th:action="@{/}" class="search-form row ">
    <input type="text" class="search-input input-lg col-8 " placeholder="Recherche rapide (titre, auteur, genre)" #searchBox id="search-box"
      (input)="search(searchBox.value)" th:value="${term}" name="term">
<!-- <button class="go-btn " type="submit" value="Search">GO</button> -->
  </form>
  <app-book-search [title]="books$" ></app-book-search>
  <!-- <div *ngIf="!books$">
    <p> Aucun resultat</p>
  </div>
<div  *ngIf="books$">
  <ul class="search-result">
    <li *ngFor="let book of books$ | async" >
      <a routerLink="/book-detail/{{book.id}}">
        {{book.title}} - {{book.author}}
      </a>
    </li>
  </ul>
  </div>
</div> -->

<!-- <div class="input-zone">
    <form>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Titre" id="ck1">
        <label class="form-check-label" for="ck1">Titre</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Auteur" id="ck2">
        <label class="form-check-label" for="ck2">Auteur</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Genre" id="ck2">
        <label class="form-check-label" for="ck2">Genre</label>
      </div>
  </form>
</div> -->

