#search_zone {

    display: flex;
    flex-direction: column;

    width: 98%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;

}

.search-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   /* border: none;*/
    border-radius: 20px;
    height: 50px;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size: larger;
    margin-left: 20px;
}


.search-button:hover {
    background-color: var(--color-secondary);
    border: var(--border-secondary-dark);
    color: black;
    font-weight: 200;
}

.search-button:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}

.input-zone {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
}

.input-group {
    padding: 0px;
}

.form-control {
    height: 3em;
    box-shadow: var(--shadowBoxin-2);
    border-radius: 20px;
}

.button-container {
    width: 100%;
    justify-content: end;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}