.input-zone {

    padding: 2rem;
    width: 98%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}

.input-group{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.search-input {
    height: 3rem;
    border-radius: 30px;
    align-self: center;
}

.go-btn {
    align-self: center;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size: 1rem;
}

.go-btn:hover {
    background-color: var(--color-secondary);
    
    color: black;
    font-weight: 200;
}

.go-btn:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}