#search_zone {

    display: flex;
    flex-direction: column;

    width: 98%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;

}

.input-zone {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
}

.input-group {
    padding: 0px;
}

.form-control {
    height: 3em;
    box-shadow: var(--shadowBoxin-2);
    border-radius: 20px;
}

.button-container {
    width: 100%;
    justify-content: end;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}