<div class="input-zone" >
  <form th:action="@{/}">
    <div class="input-group row">
        <input type="text" class="search-input col-12" placeholder="Recherche rapide" 
         #searchBox id="search-box" (input)="search(searchBox.value)" th:value="${term}" name="term"/>
         <div *ngIf="!books$">
            <p> Aucun resultat</p>
        </div>
        <ul class="search-result">
          <li *ngFor="let book of books$ | async" >
            <a routerLink="/book-detail/{{book.id}}">
              {{book.title}} - {{book.author}}
            </a>
          </li>
        </ul>
    </div>
  </form>
</div>
    
<!-- <div class="input-zone">
    <form>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Titre" id="ck1">
        <label class="form-check-label" for="ck1">Titre</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Auteur" id="ck2">
        <label class="form-check-label" for="ck2">Auteur</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Genre" id="ck2">
        <label class="form-check-label" for="ck2">Genre</label>
      </div>
  </form>
</div> -->
