.input-zone {
display: flex;
flex-direction: column;
justify-content: center;
    width: 98%;
    height: 95%;


    
}

.search-form{
    width: 100%;
    align-content: center;
    height: 50px;;
    
}

.input-group{
    justify-content: center;

}


.search-input {
    font-size: 2rem;
    border-radius: 30px;
    align-self: center;
    height: 40px;
}



.go-btn {
    align-self: center;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size: 1rem;
}

.go-btn:hover {
    background-color: var(--color-secondary);
    
    color: black;
    font-weight: 200;
}

.go-btn:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}
/* HeroSearch private styles */

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  
  }
  input {
    padding: .5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    display: block;
  }
  
  input:focus {
    outline: #336699 auto 1px;
  }
  
  li {
    list-style-type: none;
  }
  .search-result li a {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }
  
  .search-result li a:hover {
    background-color: #435A60;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
  
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */