<header class="row m-0 p-0">
      <div class="head-text">
        <h1 class="title m-0 p-0 ">LivroScope</h1>
        <!-- <div *ngIf="isLoggedIn"><p class="user m-0 p-0">bienvenue <br> {{ currentUser.firstname }} {{ currentUser.lastname }}</p></div>
        <ng-template #contenu_pas_bon><p class="user m-0 p-0">bienvenue <br> Veuillez vous connecter</p></ng-template>
      </div> -->
      <div *ngIf="isLoggedIn;then logged_text else notLogged_text">Le contenu saisi ici sera ignoré.</div>
      <ng-template #logged_text><p>bienvenue <br> {{ currentUser.firstname }} {{ currentUser.lastname }}</p></ng-template>
      <ng-template #notLogged_text>Veuillez vous connecter</ng-template>
      </div>
</header>