header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color:var(--color-primary-light);
}

.title-banner{
    display: flex;
    justify-content: center;
  
}


.button-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button{
width:4rem;
height: 4rem;
border-radius: 50%;
}

.goBack-logo,
.bookList-logo,
.connect-logo{
    padding: 0px;
}
