#titleBanner{
    position: fixed;
    top: 1rem;
    width: 70%;
    height: 6rem;
    background-color: var(--color-secondary);
    border: var(--border-global-dark);
    border-radius: var(--border-radius);

}

.title{

margin: auto;


}


