<header class="col-12  col-md-12 p-0">
  <div class="head-text  ">
    <div class="head-title">
    <h1 class="title m-0 p-0 col-6 ">LivroScope</h1></div>
    <div class="log-info m-0 p-0  ">
      <div *ngIf="isLoggedIn;then logged_text else notLogged_text"></div>
      <ng-template #logged_text>
        <p class="log-text m-0 p-0 col-md-12">Bonjour {{ currentUser.firstname }} {{ currentUser.lastname }}</p>
      </ng-template>
      <ng-template #notLogged_text>
        <p class="log-text m-0 p-0 col-md-12 ">Bonjour veuillez vous connecter</p>
      </ng-template>
    </div>
  </div>
</header>