<div class="container justify-content-center">
    <div class="row">
        <div *ngIf="book_id" class="col-md-12">
            <form >
                <H1> Emprunt du livre {{book_id.title}}</H1>
                <p>Bienvenue  {{currentUser.username }} </p>
                <label for="userId">ID de l'utilisateur:</label>
                <input type="text" id="userId" [(ngModel)]="currentUser.id" name="currentUser.id" class="form-control" required>
        
                <label for="book-title"> Book id: </label>
                <input id="book-title" [(ngModel)]=" book_id.id" placeholder="{{book_id.id}}" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [ngModelOptions]="{standalone: true}" />
            
                <label for="startDate">Date de début:</label>
                <input type="datetime-local" id="startDate" [(ngModel)]="startDate" name="startDate" class="form-control" required>
            
                <label for="endDate">Date de fin:</label>
                <input type="datetime-local" id="endDate" [(ngModel)]="endDate" name="endDate" class="form-control"  required>
            
                <button type="submit" (click)="enregistrerEmprunt()">Emprunter</button>
               
            </form>
            <button type="button" (click)="goBack()"  class="btn btn-info btn-sm m-1">go back </button>
        </div>
    </div>
</div>

  
