<div class="container justify-content-center">
    <div class="row">
        <div *ngIf="book" class="col-md-4 m-auto">
            <button type="button" (click)="goBack()"   class="btn btn-outline-info btn-sm m-1 col-lg-4 col-md-3 col-sm-3">RETOUR </button>
            <div *ngIf="message" class="alert alert-success">{{message}}</div>
            <div *ngIf="messageError" class="alert alert-danger">{{message}}</div>
            <form >
                <H1> Emprunt du livre </H1>
                <h3> {{book.title}}</h3>
                <p>Bienvenue  {{currentUser.username }} </p>
                <label for="userId">ID de l'utilisateur:</label>
                <input type="text" id="userId" [(ngModel)]="currentUser.id" name="currentUser.id" class="form-control" required disabled="disabled">
                
                <label for="book-title"> Book : {{book.title}}</label>
                <input id="book-title" [(ngModel)]="book.id" placeholder="{{book.id}}" name="{{book.id}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled="disabled"/>
            <div >
                <button type="submit" (click)="enregistrerEmprunt()"  class="btn btn-outline-success btn-sm m-1">Emprunter</button>
            </div>
            <div *ngIf="totalItems < 1 ">
                <div *ngIf="messageItemsError" class="alert alert-danger">{{message}}</div>
            </div>               
            </form>
            
        </div>
    </div>
</div>
  
