#navButton_container{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 25%;
    background-color: var(--color-secondary-dark);
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size:xx-large;
}

button:hover{
    
    background-color: var(--color-secondary);
    border: var(--border-secondary-dark);
    color: black;
    font-weight: 200;
}
button:focus{

    transform: translateY(2px);
}