
<div class="book-list-panel">
<div class="book-list-title">
  <p>Liste des livres</p>
</div>
<div class="content-panel">
  <table class="book-list-table">
    <thead class="theader">
      <tr>
        <th class="book-title"> <p class="text-detail">Titre</p> </th>
        <th class="book-author"> <p class="text-detail">Auteur</p> </th>
      </tr>
    </thead>
    <tbody class="loan-list-container">
      <tr *ngFor="let book of books">
        <td class="book-title"><a routerLink="/book-detail/{{book.id}}"> <p class="text-detail">{{book.title}}</p> </a></td>
        <td class="book-author"> <p class="text-detail">{{book.author}}</p> </td>
      </tr>
    </tbody>
  </table>
</div></div>