<div class="list-pannel ">
           <table class="booklist table">
          <thead class="theader">
            <tr>
              <th colspan="4" class="bookList-title" scope="col">Liste des Livres</th>
            </tr>
          </thead>
          <tbody class="bookList-container" >
              <tr>
                  <th class="bookList-details" scope="row"><p>Titre</p></th>
                  <th class="bookList-details">Auteur</th>

              </tr>
            <tr  *ngFor="let book of books">
              <td class="bookList-details"><a routerLink="/book-detail/{{book.id}}">{{book.title}}</a></td>
              <td class="bookList-details">{{book.author}}</td>
             
              
            </tr>
          </tbody>
        </table>
      </div>

