.main-pannel{

overflow: hidden;

}
.bookList{

  width: 90%;
  height: 90%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar{
  display: none;
}

.bookList-container{

 
  
}
.bookList-title{

  font-size: 3rem;
  text-align: center;
  
}
.bookList-details{

list-style-type: none;
font-size: 1rem;

}
a{
  color:blueviolet;
  text-decoration: none;
}
a:hover{
  color: var(--color-button);
}
a:active{
  box-shadow: var(--shadowBoxin);
  transform: translateY(2px);
}