@import "~bootstrap/dist/css/bootstrap.css";

:root {

/*
    --color-primary: #c5dac1ff;
    --color-primary-light: #def2c8ff;
    --color-primary-dark: #a9b2acff;
    --color-accent: #bcd0c7ff;
    --color-secondary: #A5CDDB;
    --color-secondary-dark: #96AFB8;
*/
    --color-primary: #607d8b;
    --color-primary-light: #cfd8dc;
    --color-primary-dark: #455a64;
    --color-accent: #7c4dff;
    --color-secondary: #84F9bd;
    --color-secondary-dark: #48C088;
    --color-button:#FF885D;


    --textColor-primary: #212121;
    --textColor-secondary: #757575;
    --textColor-white: #FFFFFF;

    --dividerColor-lightGray: #BDBDBD;

    --border-global-dark: 5px solid var(--color-primary-dark);
    --border-global-light: 3px solid var(--color-primary-light);
    --border-secondary-dark: 2px solid var(--color-primary-dark);
    --border-secondary-light: 1px solid var(--color-primary-light);
    --border-radius: 30px;

    --shadowBoxin: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --shadowBoxin-2: rgba(99, 99, 99, 0.2) 0px 5px 15px 0px;
}


* {
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    margin: 0;
    padding: 0;
}

h1{
    font-family:  'Oswald', sans-serif;
    font-size: 3rem;
    
}

h2{
   
    font-size:1.5rem;


}



body {
    background-color: white;
}


app-header {
    display: flex;
    justify-content: center;
}

app-main-board,
app-book-search{
    width: 99.5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
 }
 



form {
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.small-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: var(--border-global-dark);
    border-radius: var(--border-radius);
    width: 50%;
    height: 50vh;
}


footer {
    position: relative;
    left: 65%;
    color: white;

}

.validation-buttons {
    

    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}



.validation-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  border: none;
    border-radius: 20px;
    height: 50px;
    background-color: var(--color-secondary-dark)

 
}

  
  







.validation-btn:hover {
    background: var(--color-button);
    border: none;
    color: black;
    font-weight: 200;
}

.validation-btn:active {

    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}