@import "~bootstrap/dist/css/bootstrap.css";

:root{

    --color-primary:#009688;
    --color-primary-light:#B2DFDB;
    --color-primary-dark:#005449;
    --color-accent:#607D8B;
    --color-secondary:#F3EADA;
    --color-secondary-dark:#AF8D19;

    --textColor-primary:#212121;
    --textColor-secondary:#757575;
    --textColor-white:#FFFFFF;
    
    --dividerColor-lightGray:#BDBDBD;

    --border-global-dark:2px solid var(--color-primary-dark);
    --border-global-light:2px solid var(--color-primary-light);
    --border-secondary-dark:2px solid var(--color-secondary-dark);
    --color-secondary-light:2px solid var(--color-secondary);
    --border-radius:30px;

    --shadowBoxin: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --shadowBoxin-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

header{
    position:relative;
    top: 20px;
    display: flex;
    justify-content: center;
    width :90%;
    max-height: 10vh; 
    margin: auto;

}

#titleBanner{
    display: flex;
    justify-content: center;
    width: 60% ;
    border: 2px black;
    background-color: var(--color-accent);
    border: var(--border-global-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--shadowBoxin);
    
}

#titleBanner h1{

    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 90%;
    height: 80vh;
    border: var(--border-global-dark);
    border-radius: var(--border-radius);
    background-color:var(--color-primary-light);
    box-shadow: var(--shadowBoxin);
    
}

.small-container{
    width: 50%;
    height: 60%;
    margin: auto;
    padding: 20px;
border: var(--border-secondary-dark);
border-radius: var(--border-radius);
 background-color: var(--color-secondary);
}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*TEST
    background-color: yellow;*/
}

.validation-buttons{
    display: flex;
    justify-content: space-around;

    }
    


.validation-btn {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none ;
    border-radius: 20px;
    height: 50px;
    background-color: var(--color-secondary-dark) ;
    box-shadow: var(--shadowBoxin-2);
    color: white;
    font-size: larger;
}



.validation-btn:hover {
    background-color:var(--color-secondary) ;
    border: var(--border-secondary-dark) ;
    color: black;
    font-weight: 200;
 }

 .validation-btn:active {
   
    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
  }