@import "~bootstrap/dist/css/bootstrap.css";

:root{

    --color-primary:#009688;
    --color-primary-light:#B2DFDB;
    --color-primary-dark:#005449;
    --color-accent:#607D8B;
    --color-secondary:#F3EADA;
    --color-secondary-dark:#AF8D19;

    --textColor-primary:#212121;
    --textColor-secondary:#757575;
    --textColor-white:#FFFFFF;
    
    --dividerColor-lightGray:#BDBDBD;

    --border-global-dark:2px solid var(--color-primary-dark);
    --border-global-light:2px solid var(--color-primary-light);
    --border-secondary-dark:2px solid var(--color-secondary-dark);
    --color-secondary-light:2px solid var(--color-secondary);
    --border-radius:30px;

}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

header{
    position:relative;
    top: 20px;
    display: flex;
    justify-content: center;
    width :90%;
    max-height: 10vh; 
    margin: auto;

}

#titleBanner{
    display: flex;
    justify-content: center;
    width: 60% ;
    border: 2px black;
    background-color: var(--color-accent);
    border: var(--border-global-dark);
    border-radius: var(--border-radius);
    
}

#titleBanner h1{

    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 90%;
    height: 80vh;
    border: var(--border-global-dark);
    border-radius: var(--border-radius);
    background-color:var(--color-primary-light);
}

.littleContainer{
    width: 50%;
    height: 60%;
    margin: auto;
    padding: 20px;
border: var(--border-secondary-dark);
border-radius: var(--border-radius);
 background-color: var(--color-secondary);
}

.form-group-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.form-group-buttons button{
border: none !important;
    background-color: var(--color-secondary-dark) !important;
}
.btn-primary:hover {
    background-color: #69aca5 !important;
    border: 0 !important;
    box-shadow: none !important;
 }
 .btn-primary:focus {
    background-color: #69aca5 !important;
    border: 0 !important;
    box-shadow: none !important;
 }


