.validation-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.validation-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: none;*/
  border-radius: 20px;
  height: 50px;
  background-color: var(--color-secondary-dark);
  box-shadow: var(--shadowBoxin-2);
  color: white;
  font-size: 1rem;
}

.validation-btn:hover {
  background-color: var(--color-secondary);
  border: var(--border-secondary-dark);
  color: black;
  font-weight: 200;
}

.validation-btn:active {
  box-shadow: var(--shadowBoxin-2);
  transform: translateY(2px);
}
