<div class="upper-pannel ">
<app-advanced-search></app-advanced-search>
</div>
<div class="main-pannel row ">
    
    <div class="side-pannel  ">
<app-nav-buttons></app-nav-buttons>
    </div>
    <div class="content-pannel " (navEvent)="selectComponent(buttonSelected)">
        <!-- 
            ON DOIT ICI FAIRE L AFFICHAGE CONDITIONNEL
            NGIF="variable=PROFIL"
                
        -->
<div *ngIf="buttonSelected =='PROFILE'"> <app-profile ></app-profile></div>
<div *ngIf="buttonSelected =='LOAN'"><app-loan-tab></app-loan-tab></div>
<div *ngIf="buttonSelected =='PENALTY'"><app-penalty-tab></app-penalty-tab></div>

    </div>
</div>