<!-- <div class="upper-pannel">
    <app-advanced-search></app-advanced-search>
</div> -->
<div *ngIf="isLoggedIn">
    <div class="main-pannel row ">
        <div class="side-pannel  ">
            <app-nav-buttons (navEvent)="selectComponent($event)"></app-nav-buttons>
        </div>
        <div class="content-pannel">
            <div *ngIf="buttonSelected =='PROFILE'"><app-profile></app-profile></div>
            <div *ngIf="buttonSelected =='LOAN'"><app-list-loan></app-list-loan></div>
            <div *ngIf="buttonSelected =='PENALTY'"><app-penalty-tab></app-penalty-tab></div>
        </div>

    </div>
</div>
<div *ngIf="!isLoggedIn" >
<app-home></app-home>
</div>
