.form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 45vh;

}

.input-text {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.input-text p {
    margin-top: 1rem;
    padding: 0;
    font-size: 0.8em;
}

.form-control {
    height: 2rem;
    align-self: center;
    box-shadow: var(--shadowBoxin-2);
    border-radius: 2vh;
}



.inputs {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0px;
}




.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    width: 40vw;
}

.invalid-text {
    font-size: 0.8em;
}

.validation-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.validation-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 3vh;
    height: 3rem;
    background-color: var(--color-secondary-dark)
}

.validation-btn:hover {
    background: var(--color-button);
    border: none;
    color: black;
    font-weight: 200;
}

.validation-btn:active {
    box-shadow: var(--shadowBoxin-2);
    transform: translateY(2px);
}

@media(min-width:768px) {

    .form-group {
       justify-content: space-evenly;
        margin-top: 1em;
        width: 70vh;
        height: 4em;
    }

    .input-text p {
        font-size: 1.2em;
    }

    .form-control {
        height: 3rem;
        border-radius: 2vh;
    }

    .invalid-text {
        font-size: 1.5em;
        text-align: right;
        margin-right: 1.5rem;
    }

    .validation-btn {
        font-size: 2em;
    }
}

@media(min-width:1000px) {
    .form-group {

        width: 95vh;
        height: 5rem;

    }
  .form-control{
    width: 20vw;
  }

    .input-text p {
        font-size: 1.8em;
    }

    .form-control {
        height: 4rem;
        
    }

    .invalid-text {
        font-size: 1.4em;
        text-align: center;
        
    }
}